.advanced-share--outer-wrap {
  background: #b5b5b5;
  .unitize-min-width(320);

  .advanced-share--close-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .advanced-share--inner-wrap {
    background: @body-bg;
    overflow: hidden;
    .box-shadow(0 0 100px -20px #000);
    transition: transform .4s ease;
    transform-origin: center top;
    transform: translateY(-1px * (@adv-share-icon-height + 2 * @adv-share-icon-container-padding-phone));
    .unitize(margin-bottom, -1 * (@adv-share-icon-height + 2 * @adv-share-icon-container-padding-phone));

    @media (min-width: @tabletViewportWidth) {
      transform: translateY(-1px * (@adv-share-icon-height + 2 * @adv-share-icon-container-padding-tablet));
      .unitize(margin-bottom, -1 * (@adv-share-icon-height + 2 * @adv-share-icon-container-padding-tablet));
    }
  }

  .advanced-share--icon-container {
    box-sizing: content-box;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
    .unitize-padding(@adv-share-icon-container-padding-phone, 0);
    .unitize-height(@adv-share-icon-height);
    transform: translateY(-1px * (@adv-share-icon-height + 2 * @adv-share-icon-container-padding-phone));
    transition: transform .4s ease;

    @media (min-width: @tabletViewportWidth) {
      .unitize-padding(@adv-share-icon-container-padding-tablet, 0);
      transform: translateY(-1px * (@adv-share-icon-height + 2 * @adv-share-icon-container-padding-tablet));
    }

    .btn {
      color: #fff;
      .social-button(#444);
      .unitize-min-width(40);
      text-align: center;
      .unitize-margin(0, @adv-share-icon-container-padding-phone / 2);
      .unitize-padding(3, 0);

      @media (min-width: @tabletViewportWidth) {
        .unitize-margin(0, @adv-share-icon-container-padding-tablet / 3);
      }

      .fa {
        .unitize(font-size, 18);
        vertical-align: middle;
      }

      &[data-type="facebook"] {
        .social-button(@social-facebook);
      }
      &[data-type="twitter"] {
        .social-button(@social-twitter);
      }
      &[data-type="google"] {
        .social-button(@social-google);
      }
      &[data-type="linkedin"] {
        .social-button(@social-linkedin);
      }
      &[data-type="pinterest"] {
        .social-button(@social-pinterest);
      }
      &[data-type="whatsapp"] {
        .social-button(@social-whatsapp);

        @media (min-width: @tabletViewportWidth) {
          display: none;
        }
      }
      &[data-type="email"] {
        .social-button(@social-email);
      }
    }
  }

  @media (min-width: @tabletViewportWidth) {
    .advanced-share--icon-container,
    .advanced-share--inner-wrap {
      pointer-events: none;

      & > * {
        pointer-events: all;
      }

      .off-canvas {
        pointer-events: none;

        &.is--open {
          pointer-events: all;
        }
      }
    }
  }

  &::after {
    content: " ";
    display: block;
    clear: both;
    .unitize-min-height(1);
  }

  &.advanced-share--open {
    .advanced-share--icon-container {
      transform: translateY(0);
    }

    .advanced-share--inner-wrap {
      transform: translateY(0);
      margin-bottom: 0;

      @media (min-width: @tabletViewportWidth) {
        transform: scale(.9) translateY(0);
      }
      @media (min-width: @tabletLandscapeViewportWidth) {
        transform: scale(.8) translateY(0);
      }
      @media (min-width: @desktopViewportWidth) {
        transform: scale(.7) translateY(0);
      }
    }
  }
}

.shop--navigation {
  .navigation--entry {
    &.entry--share {
      .btn {
        .unitize-min-width(40);
        text-align: center;
      }

      .fa {
        .unitize(font-size, 18);
        vertical-align: middle;
      }
    }
  }
}
