.shop--navigation .entry--menu-left .entry--menu-text {
  display: none;

  @media (min-width: @phoneLandscapeViewportWidth) {
    display: inline;
  }
}

@media (min-width: @phoneLandscapeViewportWidth) {
  .entry--search {
    width: 30%;
  }
}
